.actions {
    background-color: rgb(154, 154, 154);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions p {
    align-self: center;
    width: 70%;
    height: fit-content;
}

.actions-left {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
}

.action {
    background-color: transparent;
    border: none;
    height: 35px;
    width: 35px;
}

.icon {
    width: 25px;
    height: 25px;
}