.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.actions {
    width: 100%;
    height: 5%;
}

.files {
    width: 100%;
    height: 95%;
    background-color: rgb(91, 91, 91);
    color: black;
}

.file-name-provider {
    width: 100%;
    height: 5%;
    background-color: transparent;
    border: 1px solid lightblue;
    color: wheat;
}

.file-name-provider:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid lightblue;
    color: wheat;
}

.file {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header:hover {
    background-color: rgb(236, 236, 236);
}

.innder-file {
    padding-left: 10px;
}

.header {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    color: gray;
    display: flex;
    align-items: center;
}

.file-name {
    width: 90%;
    height: fit-content;
    padding-left: 5px;
}

.dropdown {
    background-color: transparent;
    width: 100%;
    height: fit-content;
    display: flex;
    margin-left: 12px;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid 2px rgb(209, 209, 209);
}

.dropdown-arrow {
    width: 15px;
    height: 15px;
    padding-bottom: 5px;
    background: transparent;
    align-self: flex-end;
}

.dropdown-invisible {
    display: none;
}