* {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    zoom: 1;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* --------------- NAVIGATION ELEMENTS --------------- */
nav {
    width: 100%;
    height: 5%;
    background-color: rgb(154, 154, 154);
}

/* --------------- MAIN CONTENT ELEMENTS --------------- */
main {
    width: 100%;
    height: 90%;
    background-color: rgb(58, 58, 58);
    display: flex;
}

.sidebar {
    width: 15%;
    height: 100%;
    background-color: lightgray;
}

.reader {
    width: 85%;
    height: 100%;
    overflow-y: auto;
}

/* --------------- FOOTER ELEMENTS --------------- */
footer {
    width: 100%;
    height: 5%;
    background-color: rgb(154, 154, 154);
}