* {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line-bend {
    border-radius: 0px 0px 0px 50px;
    border-left: solid 2px black;
}

.notification {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 500px;
    height: 75px;
    border: solid 2px rgb(23, 112, 195);
    display: flex;
    border-radius: 10px;
    align-items: center;
}

.notification-text {
    height: fit-content;
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
}

.container {
    background-color: lightcoral;
    width: 200px;
    height: 200px;
    overflow-y: auto;
}

.module {
    width: 100%;
    background-color: transparent;
    height: fit-content;
    font-size: 20px;
    padding-bottom: 5px;
}

.module:hover {
    background-color: antiquewhite;
}

.header {
    width: 100%;
    height: 20px;
    background-color: transparent;
}

.header:hover {
    background-color: rgb(146, 55, 55);
    color: white;
}

.module-container {
    background-color: transparent;
    width: 100px;
    height: fit-content;
    border-left: solid 2px black;
    margin-left: 5px;
}

.navigation {
    width: 100%;
    position: sticky;
    height: 10%;
    top: 0;
    background-color: aqua;
}