* {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#code-editor {
    position: absolute;
    display: flex;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0%;
    background-color: black;
}

#editor-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
    z-index: 0;
    scrollbar-width: thin;
}


#lines {
    width: 5.6%;
    font-size: 24px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.highlighter {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    background-color: transparent;
    color: transparent;
    overflow: hidden;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 95%;
    z-index: 1;
}

#preview {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: fit-content;
    width: 10%;
    zoom: 30%;
    border-left: solid 20px white;
    box-shadow: 2px white;
}


#writer {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color: transparent;
    color: transparent;
    caret-color: red;
    overflow: auto;
    white-space: pre;
    scrollbar-width: none;
    height: 100%;
    top: 0%;
    width: 85%;
    outline: none;
    border: none;
    left: 5%;
    z-index: 2;
    resize: none;
}

#reader {
    top: 0%;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
    left: 5%;
    z-index: 1;
}

.line-number {
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    padding: 0%;
    margin: 0%;
    color: gray;
    display: flex;
}

.line {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    white-space: pre;
}

.content-format {
    font-size: 24px;
    min-height: 28.8px;
}

.invisible {
    display: none;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    right: 20%;
    top: 5%;
    background-color: rgb(68, 68, 68);
    border: gray solid 2px;
    border-radius: 5px;
    width: 35%;
    height: 10%;
}

.search-container {
    z-index: 2;
    width: 95%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-radius: 3px;
}

.search-bar {
    width: 70%;
    height: 70%;
    outline: none;
    border: solid 1px gray;
    background-color: rgb(34, 34, 34);
    color: white;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.replace {
    z-index: 2;
    width: 95%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-radius: 3px;
}

.replace-text {
    width: 70%;
    height: 70%;
    outline: none;
    border: solid 1px gray;
    background-color: rgb(34, 34, 34);
    color: white;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
}

.found-elements {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 10%;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.highlighted {
    background-color: lightyellow;
    white-space: pre;
    color: transparent;
}

.currently-selected {
    background-color: lightcoral;
}

.position-switching-button {
    background-color: white;
    border: black 1px solid;
    width: 35px;
    height: 35px;
}

.position-switching-button:hover {
    opacity: 0.7;
    color: white;
    border: rgb(59, 59, 59) 1px solid;
}

.horizontal-scrollbar {
    position: absolute;
    width: 80.5%;
    height: 2.5%;
    bottom: 0;
    left: 5%;
    z-index: 3;
    background-color: transparent;
}

.vertical-scrollbar {
    position: absolute;
    width: 1.5%;
    height: 100%;
    top: 0%;
    right: 0%;
    z-index: 2;
    background-color: transparent;
}

.bar {
    background-color: gray;
    opacity: 0.5;
}

.horizontal-bar {
    height: 100%;
    width: 10%;
}

.vertical-bar {
    width: 100%;
    height: 10%;
}

.icon {
    width: 30px;
    height: 30px;
}