* {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#code-editor {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    left: 0%;
    background-color: black;
}

#editor-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    height: 100%;
    z-index: 0;
}

#lines {
    width: 5%;
    height: fit-content;
    font-size: 24px;
    line-height: 1.2;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    color: white;
}

#writer {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color: transparent;
    color: transparent;
    caret-color: red;
    overflow: auto;
    white-space: nowrap;
    height: 100%;
    width: 95%;
    outline: none;
    border: none;
    left: 5%;
    z-index: 2;
}

#preview {
    top: 0%;
    right: 0%;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: fit-content;
    width: 15%;
    z-index: 2;
    zoom: 30%;
}

#reader {
    top: 0%;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color: transparent;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    left: 5%;
    z-index: 1;
}

#highlighter {
    top: 0%;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    overflow: auto;
    white-space: pre;
    color: transparent;
    height: 100%;
    width: 95%;
    left: 5%;
    z-index: 0;
}

.line-number {
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    padding: 0%;
    margin: 0%;
    color: gray;
    display: flex;
}

.line {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

#search {
    /* display: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20%;
    top: 5%;
    background-color: rgb(68, 68, 68);
    border: gray solid 2px;
    border-radius: 5px;
    width: 35%;
    height: 10%;
}

.search-container {
    z-index: 2;
    width: 95%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-radius: 3px;
}

.search-bar {
    width: 70%;
    height: 100%;
    outline: none;
    border: solid 1px gray;
    background-color: rgb(34, 34, 34);
    color: white;
    padding-left: 5px;
    font-size: 20px;
}

.found-elements {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 10%;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

.highlighted {
    background-color: lightyellow;
    font-size: 24px;
    min-height: 28.8px;
    white-space: pre;
}

.currently-selected {
    background-color: lightcoral;
}

.position-switching-button {
    background-color: transparent;
    color: gray;
    border: gray 1px solid;
    width: 25px;
    height: 25px;
}

.position-switching-button:hover {
    opacity: 0.7;
    color: white;
    border: rgb(59, 59, 59) 1px solid;
}