body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

#reader {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0;
    width: 90%;
    height: 92.5%;
    overflow: auto;
    background-color: transparent;
    color: transparent;
    font-size: 24px;
    caret-color: red;
    outline: none;
    border: none;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
}

#highlight {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0;
    width: 90%;
    height: 90%;
    overflow: auto;
    white-space: pre-wrap;
    background-color: black;
    color: orange;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    z-index: 0;

}

.highlighted {
    background-color: white;
}