* {
    height: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    zoom: 1;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


pre {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}


.tabs {
    height: 5%;
    width: 100%;
    background-color: rgb(43, 43, 43);
}

.code-reader {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.writer-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: 100%;
    z-index: 0;
}

.code-writer {
    position: absolute;
    left: 5%;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    line-height: 1.2;
    top: 5%;
    border: none;
    outline: none;
    overflow: auto;
    background-color: transparent;
    color: white;
    caret-color: gray;
    width: 95%;
    height: 90%;
}

.lines-tracker {
    width: 5%;
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    height: 100%;
    align-items: center;
}

.line-number {
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    padding: 0%;
    margin: 0%;
    color: gray;
    display: flex;
}

.code {
    top: 5%;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    color: white;
    width: 95%;
    height: 90%;
    overflow: auto;
    left: 5%;
    z-index: 0;
}

.terminal-container {
    height: 5%;
    width: 100%;
    border-top: solid 1px gray;
    background-color: black;
}

.terminal {
    height: 100%;
    font-size: 24px;
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    overflow: auto;
}