#editor {
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
}

#content {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 0%;
    left: 0%;
}

.line {
    position: absolute;
    font-size: 24px;
    width: 100%;
    min-height: 28.8px;
    background-color: transparent;
    color: green;
    margin: 0px;
    padding: 0px;
    white-space: pre;
}

.caret {
    border-right: 2px solid black;
    height: 28.8px;
    display: inline-block;
    position: absolute;
    color: transparent;
    width: fit-content;
    white-space: pre;
    font-size: 24px;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

html::selection {
    background-color: transparent;
}